/* LAYOUT */
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.listContainer {
    max-width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin: 0 auto;
}

.item {
    width: 100%;
}

/* TYPOGRAPHY */
.title {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

/* RESPONSIVE */
@media screen and (min-width: 900px) {
    .listContainer {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media screen and (min-width: 1200px) {
    .listContainer {
        grid-template-columns: repeat(3, 1fr)
    }
}