@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */
}

body, div, section, ul, li, h1, h2, p, img, input, button, a {
  font-family: "open sans", "Helvetica", "Arial";
  margin: 0;
  padding: 0;
  background-color: none;
  list-style: none;
  color: #2b2b2b;
  font-size: 1.6rem;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  background-color: #f5f9fa
}